body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu {
    text-align: center;
    background-color: #333;
    padding: 2em;
    border-radius: 8px;
}


.menu h1 {
    color: white;
}

.game-text h1{
    color: white;
}

.settings ul{
    color: white;
}
button {
    margin: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#backToMenu {
    position: fixed;
    top: 10px;
    left: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #eee;
}

.skeleton {
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}
  
@keyframes skeleton-loading {
    0% {
        background-color: #555;
    }
    100% {
        background-color: #888;
    }
}

.skeleton-pack {
    padding: 20px;
    width: 300px;
    height: 75px;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: default;
    text-align: left;
}

.pack-container {
    background-color: #333;
    padding: 50px;
    padding-top: 20px;
    align-self: baseline;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.pack {
    padding: 20px;
    width: 300px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: left;
}

.quiz-container {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

h1#mc_question {
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
    color: #fff;
}

.mc_options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.mc_option {
    padding: 20px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}

.mc_option:hover {
    background-color: #777;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 30px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
    max-width: 340px;
    text-align: center;
    border-radius: 10px;
}

#mc_close-modal {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-size: 16px;
}

#mc_close-modal:hover {
    background-color: #777;
}

/* ... Existing Styles ... */

.progress-bar {
    background-color: #444;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.progress {
    background-color: #007BFF;
    height: 100%;
    width: 0%; /* Initially empty */
}

.pack-progress-bar {
    background-color: #444;
    border-radius: 5px;
    margin-top: 5px;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.pack-progress {
    background-color: #007BFF;
    height: 100%;
    width: 0%; /* Initially empty */
}

/* ... Existing Styles ... */

.menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.menu-button:hover {
    background-color: #777;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 2em;
    background-color: #333;
    border-radius: 8px;
    text-align: center;
}

.input-group {
    margin-bottom: 1.5em;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #ddd;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

#login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #222;
    color: #ddd;
}

#login-btn:hover {
    background-color: #555;
}

.register-container {
    width: 350px; /* Increased width */
    margin: 0 auto;
    padding: 2em;
    background-color: #333;
    border-radius: 8px;
    text-align: center;
}


.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    font-size: 2em;
}

/* Reusing the same styles for input-group, label, input, and button from the login page */
